<h2 style="text-align: center;">Tambah Pupuk</h2>
<form action="/pupuk/tambah" method="POST" style="display: flex; flex-direction: column; gap: 10px; width: 300px; margin: 0 auto; text-align: center;">
  <div>
    <label for="nama">Nama:</label>
    <input type="text" name="nama" id="nama" required>
  </div>
  <div>
    <label for="jenis">Jenis:</label>
    <input type="text" name="jenis" id="jenis" required>
  </div>
  <div>
    <label for="komposisi">Komposisi:</label>
    <input type="text" name="komposisi" id="komposisi" required>
  </div>
  <div>
    <label for="kegunaan">Kegunaan:</label>
    <input type="text" name="kegunaan" id="kegunaan" required>
  </div>
  <button type="submit" style="padding: 10px; background-color: #f1e49a; color: rgb(0, 0, 0); border: none; cursor: pointer; text-align: center;">Tambah</button>
</form>
